
<div class="modal hidden" id="gdpr">

    
<div class="modal--container">
        <div class="list-head">
                <!-- header options bar -->
                <div class="head-info">
                    <div id="gdpr_close" class="hide-btn"><img class="img-small" src="imgs/close_w.svg"/></div>
                </div>
            </div>
            <div class="list-feed">
<h1> Personvernerklæring</h1>
<br>
Denne personværnerkleringen forteller om hvordan 'Diamond Domain' samler inn og bruker dine persondata.
Erklæringen inneholder opplysninger du har krav på når det samles inn opplysninger fra nettstedet vårt (personopplysningsloven § 19) 
 og generell informasjon om hvordan vi behandler personopplysninger (personopplysningsloven § 18 1. ledd).
 <br>
 <br>
<h2>Behandling av opplysninger</h2>
<br>
Siden driftes i sin helet av 'Diamond Domain', tjenesten er levert av Morild AS.
Personer som ønsker å benytte seg av tjenesten vil bli lagt inn i systemet med fullt navn og epostadresse av Administrator. 
Data som samles inn vil bli lagret på en server som er driftet av UiT - Norges Arktiske Universitet.
<br>
<br>
<h2>Bruk av tjenesten</h2>
<br>
Dersom du legger inn et varsel vil det bli lagret på en server driftet av UiT - Norges Arktiske Universitet. Det er kun Administrator som har tilgang til denne databasen, hvor dine data lagres i klartekst.

Administrator vil ha komplett innsyn i alle varsel som blir rapportert inn. Dersom bruker har valgt å varsle anonymt vil Administrator se navn i klartekst. Dersom Administrator ser på et varsel vil dette bli loggført i våre systemer. 

De ansatte som til daglig jobber med å løse sakene som rapporteres inn ved hjelp av tjenesten vil få innsyn i varsler som er rapportert til dem, eller deres grupper. Informasjon som inngår i et varsel er: brukernavn og varselet i klartekst.
Dersom bruker av tjenesten har valgt å varsle anonymt, vil ikke de ansatte kunne se brukernavn, og må ta saken videre til administrator dersom det anses at saken er alvorlig.
<br>
<br>

<h2>E-post adresse</h2>
<br>
E-post adresse benyttes til å sende varsel til varsler dersom det skjer endringer på varselet.
Dersom det besluttes at et aktuelt varsel er alvorlig, kan epostadresse bli hentet ut for å kontakte vedkommende.
<br>
</div>
</div>
</div>