/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ^^^^^^ reset ^^^^^ */

@import "_config";

@mixin background_gradient() {
    background: linear-gradient($color_gradient);
    background: -webkit-linear-gradient($color_gradient);
    background: -moz-linear-gradient($color_gradient);
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    @if ($useGradient == true) {
        @include background_gradient();
    }
    @else {
        background: $color_background;
    }
    font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.01rem;
    color: #212121;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

form {
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    background: $color_primary;
}


.login-page {
    background-color: #FFFFFF;
    position: fixed;
    border-radius: 2px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-content: center;
    justify-content: center;
}

.card-head {
    height: 100px;
    font-size: 0.6rem;
    text-align: center;
    background: $color_primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.card-footer {
    height: 60px;
    font-size: 0.6em;
    font-weight: lighter;
    text-align: center;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.activity-card-description {
    height: 80px;
    font-weight: bolder;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #FFFFFF;
    color: #424242;
}

.card-head h1 {
    font-size: 3em;
    margin: 0;
    padding: 8px;
}

.card-head h2 {
    font-size: 2em;
    margin: 0;
    padding: 0;
}

.card-form {
    height: 220px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.card-form p,
.modal--container__form p {
    padding: 0px 24px;
    font-size: 0.6em;
    font-weight: lighter;
}

form input {
    /* margin: 0 auto;
    border: none; */
    font-size: 1em;
    border-radius: 4px;
    outline: none;
}

.centered_button {
    align-self: center;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    border: none;
    background-color: #4CAF50;
    color: #ffffff;
    font-size: 1.2rem;
}

.inrow_button {
    border-radius: 4px;
    border: none;
    background-color: #4CAF50;
    color: #ffffff;
    font-size: 1.2rem;
}

.btn-login {
    width: 50%;
    height: 30%;
    margin-top: 10%;
}

.logo-small {
    width: 50px;
    height: 50px;
}

.home-main {
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    display: flex;
}

.home-activity-card {
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: 8px 16px;
    width: 300px;
    height: 396px;
    display: flex;
}

.centered {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    display: flex;
}

.activity-icon {
    height: 180px;
}

// .activity-a {
//     width: 100%;
//     height: 100%;
//     background-color: #B3E5FC;
// }

.activity-new-event {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #29B6F6;
}

.activity-exit {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #29B6F6;
    color: #03A9F4;
}

.logo-background {
    z-index: -1;
    position: fixed;
    max-width: 60%;
    object-fit: scale-down;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.25;
}

.img-small {
    padding-left: 4px;
    max-height: 1.2rem;
    align-self: center;
    vertical-align: middle;
    cursor: pointer;
}

.btn-img {
    display: flex;
    align-content: center;
    justify-content: center;
    color: white;
    font-size: 1.2rem; 
}

.admin-category-type {
    font-size: 18px;
    font-weight: 900;
}

.admin-category-button {
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 20px;
}

svg > g > g:last-child{
    pointer-events: none;
}

.chart_wrap {
    border:1px solid gray;
    position: relative;
    padding-bottom: 100%;
    height: 0;
    overflow:hidden;
}

.chart {
    position: absolute;
    top: 0;
    left: 0;
    width:50%;
    height:100%;
}

.admin-category-button.edit {
    background-color: #5a70ff;
}

.input-category {
    background-color: #5bd258;
    color: white;
    height: 32px;
    border-radius: 4px;
    border: none;
    outline: none;
}

.admin-category-button.add {
    background-color: #5bd258;
    font-size: 16px;
    font-weight: 700;
}

.admin-category-button.delete {
    background-color: #ff180c;
}

#edit-category-div {
    height: 600px;
    width: 800px;
}

.hidden {
    display: none !important;
}

#chart_container{
    display: flex;
}

#piechart_div{
    flex-direction: column;
}

#colchart_div{
    flex-direction: column;
    display:inline-block;
    overflow:hidden !important;
}

.selected-activity {
    visibility: hidden;
    line-height: 1rem;
    font-size: 62.5%;
    z-index: 2;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: auto;
    background: #FFFFFF;
    border-radius: 2px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.selected-activity .hide-btn {
    height: 100%;
    display: flex;
    padding: 0 8px;
}

.list-main {
    width: 1024px;
    height: 720px;
    overflow: hidden;
    flex-direction: column;
}

.list-feed {
    width: 100%;
    height: 660px;
    overflow: scroll;
    flex-direction: column;
}

.list-head {
    width: 100%;
    height: 30px;
    background: #03A9F4;
    transition: 0.4s;
}

.fixed {
    position: fixed;
}

.height_20 {
    height: 20% !important;
}

.height_30 {
    height: 30px;
}

.height_60 {
    height: 60px;
}

.height_90 {
    height: 90% !important;
}

.red {
    background: red;
}

.grey {
    background: #E0E0E0;
}

.head-options {
    width: 100%;
    height: 60px;
}

.head-options-icon {
    align-self: flex-end;
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
    padding-right: 1%;
    width: 10%;
    cursor: pointer;
}

.head-info {
    width: 100%;
    height: 30px;   
    display: flex;
    font-size: 1em;
    color: white;
    background: #03A9F4;

}

.head-date {
    width: 150px;
    display: flex;
    align-self: flex-end;
    padding: 0 8px;
}

.head-title {
    width: 300px;
    display: flex;
    align-self: flex-end;
    padding: 0 8px;
}

.head-author {
    width: 300px;
    display: flex;
    align-self: flex-end;
    padding: 0 8px;
}

.head-status {
    width: 250px;
    display: flex;
    align-self: flex-end;
    padding: 0 8px;
}

.list-item {
    font-size: 1.5em;
    width: 100%;
    display: flex;
    height: 50px;
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #BDBDBD;
}

.list-item .list-functions {
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    z-index: 2;
    height: 100%;
    right: -100%;
    text-align: center;
    position: absolute;
    transition: all 0.5s ease;
}

.list-item:hover {
    background: #E0E0E0;
}

.hover:hover {
    background: #E0E0E0;
}

.list-content:hover ~ .list-functions,
.list-functions:hover {
    right: 0;
}

.list-icon {
    height: 80%;
}

.list-fc-edit,
.list-fc-delete,
.list-fc-view,
.list-fc-update {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
}

.larger_text {
    font-size: 1.3em;
}

.list-fc-update {
    background: #43A047;
}

.list-fc-edit {
    background: #757575;
}

.list-fc-delete {
    background: #E53935;
}

.list-fc-view {
    background: #0288D1;
}

.list-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.list-content__input {
    font-size: 1em;
    font-weight: 300;
    height: 90%;
    outline: none;
}

.list-title {
    width: 300px;
    display: flex;
    align-self: center;
    padding: 8px;
    border-left: 1px solid #BDBDBD;
}

.list-author {
    width: 300px;
    display: flex;
    align-self: center;
    padding: 8px;
    border-left: 1px solid #BDBDBD;
}

.list-date {
    display: flex;
    align-self: center;
    padding: 8px;
    width: 150px;
}

.list-status {
    display: flex;
    align-self: center;
    padding: 8px;
    width: 250px;
    border-left: 1px solid #BDBDBD;
}

.submit-form {
    display: flex;
    flex-direction: column;
    width: 800px;
}

.event_container__row {
    display: flex;
    height: 40px;
    width: 100%;
}

#settings_user {
    cursor: pointer;
}

.row__title {
    overflow: hidden;
    padding-left: 16px;
    font-size: 1.5em;
    width: 150px;
}

.row__title h3 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.row__title p {
    font-size: 0.6em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.row__title h2 {
    font-size: 1.4em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}

.event_container__row-larger .row__title h3 {
    top: 10%;
}

.submit-textfield .row__title h3 {
    top: 10%;
}

.event_container__row select, textarea {
    width: 70%;
}

.event_container__row select,
.head-title select,
.head-author select {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    /* appearance: none; */
    /*direction: rtl; */
    flex-grow: 4;
    outline: none;
    height: 100%;
    border: none;
    font-size: 1em;
    font-weight: 300;
    padding-left: 16px;
    align-self: center;
}

.barrier {
    background: #E0E0E0;
}

.barrier h2 {
    margin: auto;
}

.full_width {
    width: 100% !important;
}

.height_100 {
    height: 100% !important;
}

.height_95 {
    height: 95% !important;
}

.height_5 {
    height: 5% !important;
}

.wide {
    width: 80% !important;
}
.width_50 {
    width: 50%;
}

.width_70 {
    width: 70% !important;
}

.width_80 {
    width: 80% !important;
}

.width_90 {
    width: 90% !important;
}

.width_100 {
    width: 100%;
}

.margin_left_10 {
    margin: 0 0 0 10% !important;
}

.margin_0_auto {
    margin: 0 auto;
}

.smaller {
    width: 20%;
}

.smallest {
    width: 10%;
}

.submit-textfield {
    height: 50%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #BDBDBD;
}

#register_view {
    height: 300px;
    width: 600px;
}

#register_view form .event_container__row {
    height: 25%;
}

#register_view form .submit-button-container {
    height: 25%;
    padding-top: 2%;
}

.padding_16_32 {
    padding: 16px 32px;
}

textarea {
    padding: 8px 16px;
    margin:0;
    font-size: 1em;
    font-weight: 300;
    border: 0;
    outline: none;
    display: flex;
    flex-grow: 4;
}

.button {
    background: #03A9F4;
    height: 80%;
    margin: auto;
    color: white;
    font-size: 1.3em;
    cursor: pointer;
}

.agreement-text {
    background: rgba(47, 47, 47, 0.59);
    border-radius: 10px;
    border: 10px;
    border-color: #000000;
    padding: 10px;
}
.agreement-checkbox{
    margin: 25px;
}
.agreement-checkbox-box {
    margin: 25px;
    height: 25px;
    width: 25px;
}

.modal {
    width: 100%;
    height: 100%;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
}

.modal--container {
    top: 50%;
    left: 50%;
    width: 800px;
    transform: translate(-50%, -50%);
    justify-content: center;
    overflow-y: scroll;
    flex-direction: column;
    position: absolute;
    display: flex;
    background: #FFFFFF;
    border-radius: 2px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.modal--container__head {
    height: 100px;
    color: white;
    text-align: center;
    background: #29B6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal--container__form {
    width: 400px;
    height: 428px;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
}

.md-checkbox {
    position: relative;
    text-align: left;
    display: flex;
    align-content: space-between;
    width: 100%;
}

.md-checkbox.md-checkbox-inline {
    display: inline-block;
}

.md-checkbox label {
    width: 100%;
    margin: auto 0 auto 7%;
    cursor: pointer;
}

.md-checkbox label:before, .md-checkbox label:after {
    content: "";
    position: absolute;
    left: 3%;
    top: 50%;
    transform: translateY(-50%);
}

.md-checkbox label:before {
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid rgba(0, 0, 0, 0.54);
    border-radius: 2px;
    cursor: pointer;
    transition: background .3s;
}

.md-checkbox input[type="checkbox"] {
    outline: 0;
    margin-right: 10px;
    display: none;
}

.md-checkbox input[type="checkbox"]:checked + label:before {
    background: #337ab7;
    border: none;
}

.md-checkbox input[type="checkbox"]:checked + label:after {
    transform: translateY(-50%) translateX(40%) rotate(-45deg);
    width: 12px;
    height: 6px;
    border: 2px solid #fff;
    border-top-style: none;
    border-right-style: none;
}

.md-checkbox input[type="checkbox"]:disabled + label:before {
    border-color: rgba(0, 0, 0, 0.26);
}

.md-checkbox input[type="checkbox"]:disabled:checked + label:before {
    background: rgba(0, 0, 0, 0.26);
}

*, *:before, *:after {
    box-sizing: border-box;
}

.submit-button-container {
    height: 50px;
    margin-top: auto;
}

.submit-foot {
    display: flex;
    align-content: space-between;
    width: 100%;
    height: 70px;
}

.submit-button {
    background: #03A9F4;
    margin: auto;
    width: 40%;
    height: 80%;
}

.submit-button:disabled {
    background: #BDBDBD;
    cursor: not-allowed;
}

.event_container__main {
    height: 100%;
    display: flex;
    flex-direction: row ;
    top: 30px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.view_event_container {
    height: 800px;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.centered_content {
    width: 100%;
    height: 100%;
    display: flex;
}

.event_container__user_view {
    height: 100%;
    width: 600px;
    border-right: 1px solid #BDBDBD;
    
}

.event_container__hr_view {
    height: 100%;
    width: 600px;
}

.event_container__row-larger {
    display: flex;
    height: 400px;
    border-bottom: 1px solid #BDBDBD;
}


.row__field {
    font-size: 1.3em;
    vertical-align: middle;
    font-weight: 300;
    flex: 1;
    align-self: center;
}

.row__button_container {
    height: 50px;
    width: 20%;
    margin-top: auto;
}

.border-top {
    border-top: 0.01em solid grey;
}




.content {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 8px 32px;
    height: 280px;
    font-weight: 500;
}

@media all and (max-width: 1600px) {
    .home-main {
        flex-wrap: wrap;
        width: 90%;
        justify-content: center;
    }

    @media all and (max-width: 1600px) {
        .list-main,
        .submit-form {
            width: 800px;
        }
    }


    @media all and (max-width: 1200px) {
        .home-main {
            flex-wrap: wrap;
            width: 90%;
            justify-content: center;
            transform: translate(-50%, -25%);
        }

        .home-activity-card {
            margin: 2%;
        }

        .row__title {
            font-size: 1.5em;
        }

        .md-checkbox label {
            margin: auto 0 auto 9%;
        }

    }




    @media all and (max-width: 500px) {
        body {
            font-weight: 400;
        }

        .home-main {
            overflow-y: scroll;
            flex-direction: column;
            width: 100%;
            top: 0;
            left: 0;
            transform: none;
        }

        .row__field {
            font-size: 1em;
            font-weight: 400;
        }

        .home-activity-card {
            margin: 2% auto;
        }

        .card-form p {
            font-size: 1em;
        }

        form {
            font-size: 0.8em;
        }

        .row__title {
            font-size: 1em;
            padding-left: 2%;
        }

        .list-item {
            font-size: 1em;
        }

        .md-checkbox label {
            margin: auto 0 auto 13%;
        }

        .list-main,
        .submit-form,
        .view_event_container {
            width: 380px;
        }

        #register_view {
            width: 400px;
        }
    }

    @media all and (max-width: 375px) {

        .content {
            font-weight: 400;
        }

        .list-main,
        .submit-form,
        .view_event_container {
            height: 560px;
            width: 350px;
        }

        #register_view {
            width: 350px;
            height: 240px;
        }
    }

    @media all and (max-width: 320px) {
        .md-checkbox label {
            padding: 10px 0 0 0;
            font-size: 0.1em;
        }

        .list-item {
            font-size: 0.8em;
        }

        .list-main,
        .submit-form,
        .view_event_container {
            width: 300px;
        }

        #register_view {
            width: 300px;
            height: 240px;
        }
    }

}
